:root {
  --primary-color: #ffd54f;
  --secondary-color: #455a64;
  --main-font: "Poppins", sans-serif;
  --meme-font: "Impact", sans-serif;
  --meme-color: white;
}
body {
  margin: 0;
}

body,
input {
  font-family: var(--main-font);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-color);
  font-family: var(--main-font);
}

.title {
  margin-bottom: 0;
  font-size: 80px;
  color: #455a64;
}
.description {
  margin-top: 10px;
  color: #455a64;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

.form__container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}

label {
  color: var(--secondary-color);
  width: 200px;
  font-weight: bolder;
}

.form__imgURL,
.form__text__top,
.form__text__bottom {
  width: 100%;
  background-color: var(--primary-color);
  border-style: none;
  border-bottom: 1px solid var(--secondary-color);
}

.form__imgURL:focus,
.form__text__top:focus,
.form__text__bottom:focus {
  outline: none;
  color: #455a64;
}

.form__imgURL:active,
.form__text__top:active,
.form__text__bottom:active {
  background-color: var(--primary-color);
}

.form__submit__button {
  padding: 10px 0 10px 0;
  margin: 10px 0 10px 0;
  width: 120px;
  border-style: none;
  box-shadow: 0 5px 5px -3px #00000033;
  background-color: #1c313a;
  color: white;
}

.img__container {
  margin: 0 auto;
  width: fit-content;
  height: fit-content;
  position: relative;
  top: 50px;
}

.img__url {
  width: 60vw;
}
.img__text__top {
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  width: fit-content;
  text-align: center;
  font-family: var(--meme-font);
  font-size: 5vw;
  color: var(--meme-color);
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}
.img__text__bottom {
  position: absolute;
  bottom: 6px;
  right: 50%;
  transform: translateX(50%);
  width: fit-content;
  font-family: var(--meme-font);
  font-size: 5vw;
  color: var(--meme-color);
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

.img__delete {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  font-size: 20vw;
  background-color: transparent;
  color: transparent;
  border-style: none;
}

.img__delete:hover {
  background-color: #0000006e;
  color: #0000009c;
}

.img__delete:focus {
  outline: none;
}

@media screen and (max-width: 1100px) {
  .form__container {
    width: 6;
    flex-direction: column;
  }

  .form__imgURL,
  .form__text__top,
  .form__text__bottom {
    padding-top: 5px;
  }
}

@media screen and (max-width: 850px) {
  .title {
    text-align: center;
    width: 80vw;
  }
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 60px;
  }

  .description {
    font-size: 20px;
  }
}
