:root {
  --main-font: "Poppins", sans-serif;
  --meme-font: "Impact", sans-serif;
}
body {
  margin: 0;
}

body,
input {
  font-family: var(--main-font);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffd54f;
  font-family: var(--main-font);
}

.title {
  margin-bottom: 0;
  font-size: 80px;
  color: #455a64;
}
.description {
  margin-top: 10px;
  color: #455a64;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  width: 100%;
}

.form__container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  padding: 10px 0 10px 0;
}

label {
  color: #455a64;
}

.form__imgURL,
.form__text__top,
.form__text__bottom {
  width: 80%;
  background-color: #ffd54f;
  border-style: none;
  border-bottom: 1px solid #455a64;
}

.form__imgURL:focus,
.form__text__top:focus,
.form__text__bottom:focus {
  outline: none;
  color: #455a64;
}

.form__submit__button {
  padding: 10px 0 10px 0;
  margin: 10px 0 10px 0;
  width: 120px;
  border-style: none;
  box-shadow: 0 5px 5px -3px #00000033;
  background-color: #1c313a;
  color: white;
  /* bottom: 30px; */
}

.section {
  width: 80%;
  margin: auto;
}

.img__container {
  margin: auto;
  width: fit-content;
  height: fit-content;
  position: relative;
  top: 50px;
  left: 30px;
}

.img__text__top {
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  font-family: var(--meme-font);
  font-size: 2rem;
  color: white;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}
.img__text__bottom {
  position: absolute;
  bottom: 6px;
  right: 50%;
  transform: translateX(50%);
  font-family: var(--meme-font);
  font-size: 2rem;
  color: white;
  text-shadow: 0 0 3px #000000, 0 0 5px #000000;
}

.img__delete {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  font-size: 5em;
  background-color: transparent;
  color: transparent;
  border-style: none;
}

.img__delete:hover {
  background-color: #0000006e;
  color: #0000009c;
}

.img__delete:focus {
  outline: none;
}
